deploy_key
deploy_key.pub
deploy_key.bak.*
deploy_key.pub.bak.*

scikit_digit/results/*
!scikit_digit/results/final_figures_22_jan/
!scikit_digit/results/final_figures_22_jan/**
scikit_digit/results_language_16/
lang_model/results_language_16_hinge/
lang_model/results_language_16_softce/
lang_model/results_language_16_linear_softce/
lang_model/analysis_reports/
results_language_32_softce/
xor/results/

__pycache__/
.ipynb_checkpoints/
