deploy_key
deploy_key.pub
deploy_key.bak.*
deploy_key.pub.bak.*

scikit_digit/results/*
!scikit_digit/results/final_figures_22_jan/
!scikit_digit/results/final_figures_22_jan/**
xor/results/

__pycache__/
.ipynb_checkpoints/
